numpy
fastjsonschema
nose2
jsonref
ta-lib
pandas
quandl
pathlib
s3path
fsspec
s3fs
alpha_vantage
iexfinance
python-binance
requests
setuptools
modin
boto3
botocore
pytz
cachetools
Twisted
ccxt
pynamodb
pynamodb-attributes
shortuuid
backtrader
jesse
quantstats
#pandas_ta
git+https://github.com/twopirllc/pandas-ta
turicreate
torch
slack_sdk
texttable
sklearn
awslambdaric
awscli
matplotlib